.color{color: #002f34;}
.header{
  top:0px;
  left: 0px;
  right: 0px;
  height: 70px;
  z-index: 9;
  background: #f5f5f1;
  box-shadow: 0px 2px 2px #dadada;
}

.header .logo{
  margin-right: 15px;
  margin-left: 35px;
  width: 45px;
  height: 45px;
}
.header .logo img{
  width: 100%;
}
.header .location{
  background: #fff;
  border: 2px #333 solid;
  border-radius: 4px;
  height: 45px;
}

.header .location .ico{
  padding: 10px;
  height: 30px;
  width: 30px;
}
.header .location .label{
  flex: 1;
  padding: 10px;
  border: 0px;
}
.header .location .arrow{
  background: #fff;
  border: none;
  height: 30px;
  width: 50px;
  }

.header .search{
  background: #fff;
  border: 2px #002f34 solid;
  border-radius: 4px;
  margin: 0px 15px ;
  flex: 2;
  height: 45px;
}
.header .search .query{
  flex: 1;
  padding: 10px;
  border: 0px;

}
.header .search .go{
  flex: 1;
  padding: 10px;
  border: 0px;
  background: #002f34;
  max-width: 50px;
  max-height: 45px;
}

.header .actions{
  flex: 1;
  max-width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
}
.header .actions a{
  color: #002f34;
  margin: 0px 5px 10px 0px;
}
.header .actions .sell{
  height: 50px;
  border:none;
  margin-right: 30px;
  }
.header .actions .sell:hover{}

.hnav{
  top:70px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 8;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(218, 218, 218, 36%);
}
.hnav .view-cate{
  border: 0px;
  padding: 10px 15px;
  margin-left: 22px;
  background: rgba(0,0,0,0);
}
.hnav .view-cate .arrow{
  padding: 3px 5px;
  border: 0px;
  background: rgba(0,0,0,0);
  margin-left: 10px;
}
.hnav .view-cate:hover{
  background: #f5f5f1;
}
.hnav a{
  padding: 8px;
  margin-right: 2px;
}
.hnav a:hover{
text-decoration: none;
color: rgb(112, 112, 216);  
}
.home-page{
  position: absolute;
  top:110px;
  z-index: 7;
  margin-left: 50px;
}
.AddList{
  flex-wrap: wrap;
  
}
.AddItem{
  max-width: 288px;
  min-width: 220px;
  max-height: 266px;
  flex-basis: 22%;
  margin: 8px;
  border: 1px #ddd solid;
  padding: 8px;

}
.AddItem .poster{
  height: 160px;

}
.AddItem .poster.placeholder{
  
}
.AddItem .title{
  margin: 5px 0px;
}
.AddItem .title.placeholder{
  height: 25px;
  width: 50%;
  
}
.AddItem .tagline{
  
}
.AddItem .tagline.placeholder{
  height: 15px;
  width: 100%;
  
}
.AddItem .location{
  margin-top: 25px;
  flex:2;
}
.AddItem .location.placeholder{
  height: 15px;
  width: 50%;
}
.AddItem .stamp{
  flex:1;
  margin: 25px 0px 0px 40px;
}
.AddItem .stamp.placeholder{
  height: 15px;
  width: 20%;
}
.Load-More{
  margin: 40px auto;
  display: table;
  border: 2px #012f34 solid;
  padding: 8px 16px;
  border-radius: 4px;
  height: 50px;
  width: 120px;
  background-color: white;
}
.Load-More:hover{
  border: 5px #012f34 solid;
  
}

.app-ribbon{
  position: absolute;
  padding: 0px;
  background: #f9f9f9;
  top:1150px;
}
.app-ribbon .img{
 margin-right: 20px;
 position: relative;
 left: 100px; 
}
.app-ribbon .img img{
  
}
.app-ribbon .meta{
  padding: 10px;
  margin: 50px;
}
.app-ribbon .meta .title{
  width: 400px;
  
}
.app-ribbon .slogan{
  
}
.app-ribbon .links{
  padding:57px;
}
.app-ribbon .links .title{
  
}
.app-ribbon .links a{
  
}
.app-ribbon .links a:hover{
  
}
