.color{color: #002f34;}
.header{
  top:0px;
  left: 0px;
  right: 0px;
  height: 70px;
  z-index: 9;
  background: #f5f5f1;
  box-shadow: 0px 2px 2px #dadada;
}

.header .logo{
  margin-right: 15px;
  margin-left: 35px;
  width: 45px;
  height: 45px;
}
.header .logo img{
  width: 100%;
}
.header .location{
  background: #fff;
  border: 2px #333 solid;
  border-radius: 4px;
  height: 45px;
}

.header .location .ico{
  padding: 10px;
  height: 30px;
  width: 30px;
}
.header .location .label{
  flex: 1;
  padding: 10px;
  border: 0px;
}
.header .location .arrow{
  background: #fff;
  border: none;
  height: 30px;
  width: 50px;
  }

.header .search{
  background: #fff;
  border: 2px #002f34 solid;
  border-radius: 4px;
  margin: 0px 15px ;
  flex: 2;
  height: 45px;
}
.header .search .query{
  flex: 1;
  padding: 10px;
  border: 0px;

}
.header .search .go{
  flex: 1;
  padding: 10px;
  border: 0px;
  background: #002f34;
  max-width: 50px;
  max-height: 45px;
}

.header .actions{
  flex: 1;
  max-width: 200px;
  align-items: flex-end;
  justify-content: flex-end;
}
.header .actions a{
  color: #002f34;
  margin: 0px 5px 10px 0px;
}
.header .actions .sell{
  height: 50px;
  border:none;
  margin-right: 30px;
  }
.header .actions .sell:hover{}

.hnav{
  top:70px;
  left: 0px;
  right: 0px;
  height: 40px;
  z-index: 8;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(218, 218, 218, 36%);
}
.hnav .view-cate{
  border: 0px;
  padding: 10px 15px;
  background: rgba(0,0,0,0);
}
.hnav .view-cate .arrow{
  padding: 3px 5px;
  border: 0px;
  background: rgba(0,0,0,0);
  margin-left: 10px;
}
.hnav .view-cate:hover{
  background: #f5f5f1;
}
.hnav a{
  padding: 8px;
  margin-right: 2px;
}
.hnav a:hover{
text-decoration: none;
color: rgb(112, 112, 216);  
}