@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{}
hh,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
.fixed{position: fixed;}
.rel{position: relative;}
.abs{position: absolute;}
.sticky{position: sticky;}
input,button,select,textarea{outline: none;}
.flex{display: flex;}
.bl{display: block;}
.ibl{display: inline-block;}
.aic{align-items: center;}
button{cursor: pointer;}
.font{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.fontl{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.fontb{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.b{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
.s12{font-size: 12px;}
.s13{font-size: 13px;}
.s14{font-size: 14px;}
.s15{font-size: 15px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s22{font-size: 22px;}
.s24{font-size: 24px;}
.s30{font-size: 30px;}

.noul{
    text-decoration: none;

}
.noulh:hover{
    text-decoration: underline;
}
.cfff{
    color: #ffffff;
}

.anim{transition: all 0.2s linear 0s;}
.placeholder{background: #ccc; animation: placeholder 1s infinite;}
@keyframes placeholder{
50%{opacity: 0.5;}
}